@model producto

<section class="section-eliminar">
    <h2>Eliminar Producto</h2>

    <div class="card border-danger mb-3">
        <div class="card-header bg-danger text-white">Producto a eliminar</div>
        <div class="card-body" style="text-align: center;color: black;">
            <h5 class="card-title"><strong>Nombre:</strong> @Model.Nombre</h5>
            <p class="card-text"><strong>Descripción:</strong> @Model.Descripcion</p>
        </div>
    </div>

    <div class="alert alert-warning">
        <p>¿Estás seguro de que deseas eliminar esta prooducto?</p>
        <p><strong>Esta acción no se puede deshacer.</strong></p>
    </div>

    <form asp-action="EliminarProductoOK" method="post">
        <input type="hidden" asp-for="IdProducto" />

        <button type="submit" class="btn btn-danger" style="margin-bottom: 0.5em;">Eliminar</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancelar</button>
    </form>
</section>