
<div class="carousel">
    <div class="carousel-inner">
        <img src="@Url.Content("~/imagenes/0a85b589-b8b4-46ce-98ec-0a8823af5ac1.jpg")" class="active">
        <img src="@Url.Content("~/imagenes/67566894-289b-4f36-9c0a-45a9c0c7000b.jpg")">
        <img src="@Url.Content("~/imagenes/7179f336-7a5b-4830-92db-79e8498f827e.jpg")">
    </div>
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>
</div>

<section class="section-inicio">
    <p>LO MEJOR PARA TU HOGAR</p>
</section>