<h2>¡Ups! Algo salió mal</h2>
<p>No pudimos procesar tu pago.</p>
<a class="nav-link text-dark nav-inicio" asp-area="" asp-controller="Pago" asp-action="ConfirmarPago">Volver a
    intentar.</a>
<p>Si el problema persiste, contactanos a</p>
<li><a href="https://wa.me/5493813999608" target="_blank" class="btn btn-success mb-2 w-100">
        <i class="fab fa-whatsapp"></i> WhatsApp</a></li>